/* الألوان الأساسية */
:root {
    --off-white: #FDFBF9;
    --pale-green: #D9F7D3;
    --pale-pink: #F7D3E5;
    --dark-text: #333333;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    color: var(--dark-text);
    text-align: right;
}

header {
    background-color: var(--pale-green);
    color: var(--dark-text);
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid var(--pale-pink);
}

.book-card {
    background-color: white;
    border: 2px solid var(--pale-green);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    width: 80%;
    max-width: 700px;
    transition: transform 0.3s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
}

.book-card h3 {
    color: #4a9e4e; /* لون أخضر داكن */
}

.details-button {
    background-color: var(--pale-pink);
    color: var(--dark-text);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
